/* Grid layout */

.grid-template-default {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1%;
}

.row {
  grid-column: span 12;
}

.col-lg-1 {
  grid-column: span 1;
}

.col-lg-2 {
  grid-column: span 2;
}

.col-lg-3 {
  grid-column: span 3;
}

.col-lg-4 {
  grid-column: span 4;
}

.col-lg-5 {
  grid-column: span 5;
}

.col-lg-6 {
  grid-column: span 6;
}

.col-lg-7 {
  grid-column: span 7;
}

.col-lg-8 {
  grid-column: span 8;
}

.col-lg-9 {
  grid-column: span 9;
}

.col-lg-10 {
  grid-column: span 10;
}

.col-lg-11 {
  grid-column: span 11;
}

.col-lg-12 {
  grid-column: span 12;
}

/* Flex-layout */

.default-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* layout customs */

.grid-c-gap-0 {
  grid-column-gap: 0;
}

.grid-c-gap-2 {
  grid-column-gap: 2%;
}

.grid-c-gap-4 {
  grid-column-gap: 4%;
}

.grid-r-gap {
  grid-row-gap: 0;
}

.grid-r-gap-2 {
  grid-row-gap: 2%;
}

.grid-r-gap-4 {
  grid-row-gap: 4%;
}

.grid-gap {
  grid-gap: 0;
}

.grid-gap-2 {
  grid-gap: 2%;
}

.grid-gap-4 {
  grid-gap: 4%;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-stretch {
  justify-items: stretch;
}

/* flex customs */

.flex-direction-row {
  flex-direction: row;
}

.justify-flex-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-flex-around {
  justify-content: space-around;
}

.justify-flex-between {
  justify-content: space-between;
}

.justify-flex-evenly {
  justify-content: space-evenly;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-flex-baseline {
  align-items: baseline;
}

.align-flex-stretch {
  align-items: stretch;
}

.align-flex-center {
  align-items: center;
}

/* Styling - Colors */

/* background */

.bg-white {
  background-color: #fafafa;
}

.bg-l-white {
  background-color: #fff;
}

.bg-d-white {
  background-color: #f5f5f5;
}

.bg-black {
  background-color: #14171a;
}

.bg-l-black {
  background-color: #3a3d40;
}

.bg-d-black {
  background-color: #000;
}

.bg-blue {
  background-color: #1da1f2;
}

.bg-l-blue {
  background-color: #6cd2ff;
}

.bg-d-blue {
  background-color: #0073bf;
}

.bg-yellow {
  background-color: #fff176;
}

.bg-l-yellow {
  background-color: #ffffa8;
}

.bg-d-yellow {
  background-color: #cabf45;
}

/* text-color */

.white {
  color: #fafafa;
}

.l-white {
  color: #fff;
}

.d-white {
  color: #f5f5f5;
}

.black {
  color: #14171a;
}

.l-black {
  color: #3a3d40;
}

.d-black {
  color: #000;
}

.blue {
  color: #1da1f2;
}

.l-blue {
  color: #6cd2ff;
}

.d-blue {
  color: #0073bf;
}

.yellow {
  color: #fff176;
}

.l-yellow {
  color: #ffffa8;
}

.d-yellow {
  color: #cabf45;
}

/*sizing*/
.w-100 {
  width: 100%;
}

@media screen and (min-width: 720px and max-width: 1024px) {
  .col-md-1 {
    grid-column: span 1;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-12 {
    grid-column: span 12;
  }

}

@media screen and (max-width: 719px) {
  .col-sm-1 {
    grid-column: span 1;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-12 {
    grid-column: span 12;
  }
}